# Python-specific
*.pyc
__pycache__/

# Virtual Environment
.venv/
venv/
env/

# .env file (contains sensitive information)
*.env
*.env.yaml
service-account-file.json

# Dependency directories
dist/
build/
*.egg-info/
